{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}},
    {eleveldb,".*",{ git, "https://github.com/basho/eleveldb.git", {tag, "riak_kv-3.0.0"}}},
    {sext, {git, "https://github.com/uwiger/sext.git", {tag, "1.8.0"}}}
]}.

%%-----eleveldb for rebar3------------------
{overrides,[
    {override, eleveldb,[
        {artifacts, ["priv/eleveldb.so"]},
        {pre_hooks, [
            {compile, "c_src/build_deps.sh get-deps"},
            {compile, "c_src/build_deps.sh"}
        ]},
        {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
     ]}
]}.
